
::before,
 ::after {
  box-sizing: inherit;
}
.landing_layout {
    // position: absolute;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #1C2834 35%,#1C2834 0%,#1C2834 20%,white 0%,white 100%); /* W3C */
    &_container {
        
        width: 90%;
        max-width: 750px;
        margin: auto;
        height: 100vh;
        display: grid;
        position: relative;
        grid-template-columns: 1fr;
        grid-template-rows: 10vh minmax(0, auto);
        &_top {
            grid-row: 1/2;
        }
        &_inner {
            grid-row: 2/2;
            border-radius: 4px;
            box-shadow: 0px 0px 15px -8px rgba(0,0,0,0.92);
        }

    }
}