.Category {
    font-size: .7em;
    border-radius: 15px;
    padding: 2px 15px;
    background: #495D69;
    color: #fff;
    font-weight: 700;
    text-align: center;
}

.category {
    font-size: .7em;
    border-radius: 15px;
    padding: 2px 15px;
    background: #495D69;
    color: #fff;
    font-weight: 700;
    text-align: center;
}

.category_medium {
    font-size: .7em;
    border-radius: 15px;
    padding: 2px 15px;
    background: #495D69;
    color: #fff;
    font-weight: 700;
    text-align: center;
}

.category_high {
    font-size: .7em;
    border-radius: 15px;
    padding: 2px 15px;
    background: #1C2834;
    color: #C1CF16;
    font-weight: 700;
    text-align: center;
}

.category_low {
    font-size: .7em;
    border-radius: 15px;
    padding: 2px 15px;
    background: #F4F5F6;
    color: #000;
    font-weight: 700;
    text-align: center;
}