.signup_field {
    input {
        margin-bottom: 10px !important;
    }
}

.add_task {
    width: 100%;
    position: relative;
    // max-width: 600px;
    background:#fff;
    height: 100%;
    overflow: auto;
    &_card {
        padding: 40px 20px;
        &_title {
            font-size: 25px;
            font-weight: 900;
            position: relative;
            margin: 20px 0;
            
        }
        &_image {
                &_title {
                    font-size: 16px;
                    font-weight: 900;
                    margin-bottom: 10px;
                }
                &_box {
                    height: 150px;
                    position: relative;
                    width: 90%;
                    max-width: 300px;
                    background: #F4F5F6;
                    display: flex;
                    flex-direction: column;
                        justify-content: center;
                        margin-bottom: 30px;
                    &_message {
                        width: 100%;
                        text-align: center;
                        font-size: .8em;
                        color: #495D69;
                    }
                }
                &_submit {
                    margin: 30px 0 0 0;
                    display: flex;
                    justify-content: end;
                }
            }
            &_taskTitle{
                height: fit-content;
                margin-bottom: 10px;
            }
            &_taskDescription{
                margin-bottom: 10px;
            }
            &_ImageBox {
                margin-bottom: 10px;
            }
            &_task_select{
                background: #F4F5F6;
            }
    }

}

.createTaskBtn{
    padding: 13px 30px;
    font-size: 12px;
    font-weight: 700;
}